
#name{
	font-weight: bolder;
	border: rgba(255, 192, 203, 0.7);
	text-shadow: 6px 6px 5px rgba(192,192,192,0.6);
	font-size: 35px;
}

header{
    background-color: #000;
    color: white;
    text-align: left;
    margin: 0px;
    padding: 20px;
    padding-left: 45%;
    margin-bottom: 3%;
}


 /* 長條圖 */
 .graph { 
                    position: relative; 
                     width: 50%; 
                     border: 1px solid #b8bb9a; 
                    padding: 2px; 
                     margin-bottom: .5em;     
                     border-radius:999em;               
                }
  .graph .bar { 
                    display: block;    
                    position: relative;
                    /* background: #B1D632;  */
                   text-align: center; 
                    color: #333; 
                     height: 1.4em; 
                    line-height: 1.4em;   
                    background-image: linear-gradient(to right, rgb(234, 149, 232) , rgb(251, 219, 38));  
                    border-radius:999em; 
                     animation: progressAnimationStrike 6s;                               
               }
   .graph .bar span {
                  position: absolute;
                  left: 1em;
                  transform: 0.4s linear;
                  transition-property:width, background-color;}
   @keyframes progressAnimationStrike {
                  from {
                    width: 0;
                  }
                  to {
                    
                  }
                }

  

                /* 右側導覽列 */

            #menu {
              position: fixed;
              right: 0;
              top: 50%;
              width: 7em;
              margin-top: -2.5em;
              height: 50%;
            }
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: 7em;
              height: 50%;
              font-size: 14px;
              /* background-color: #f1f1f1; */
              /* border: 1px solid #555; */
              /* background: hsla(80, 90%, 40%, 0.7);
              border-radius: 1.5em 0.5em 0.5em 1.5em; */
            }
            li{
              text-align: center;
              border-bottom: 1px solid #555;
              /* border: solid hsla(80, 90%, 40%, 0.5); */
              padding: 0.5em 0.5em 0.5em -0.5em;
              box-shadow: 0 1px 3px black;
              border-radius: 1.5em 0.5em 0.5em 1.5em;
              background: hsla(80, 90%, 40%, 0.7);
              opacity: 0.9;

            }
            li:last-child{
              border-bottom: none;
            }
            /* li a.active {
              background-color: #04aa6d;
            } */
            li a {
              /* display: block;
              width:  9em;
              background-color: #dddddd; */
              display: block;
              color: #000;
              padding: 8px 16px;
              text-decoration: none;
              
            }
            li a:hover {
              background-color: #555;
              color: white;
              border-radius: 1.5em 0.5em 0.5em 1.5em;
            }


            /* 自我介紹版面 */
             .me{
              display: flex;
              background-color: #e2c2b3;
              width: 90%;
               /* border: 1px solid #403234;  */
               padding: 0px;
              margin: auto;
              text-align: left;
              padding-bottom: 0px;
              margin-bottom: 0px;
              border-radius: 25px;
            }  
            .left{
              flex: none;
              width: 45%;
              text-align: center;
            }
            .right{
              flex: none;
              width: 55%;
            }

            .me_frame{
              flex: 30%;
              /* background-color: #86ced7; */
              padding:10%
            }


            /* skill版面 */

            .skill{
              margin: auto;
              width: 90%;
              /* background-color: #dccbb0; */
              /* border-radius: 25px; */
              display: block;
               /* border: 1px solid #403234;  */
            }
            .program{
              display: inline;
              background-color: #d76d77;
              border-radius: 25px;
              text-align: center;
            }
            .skillfont{
              font-family: Arial, Helvetica, sans-serif;
            }
            .small{
              background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
              background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
              font-size: 24px;
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
            }

            .all{
              display: block;
              /* background-color: #e2c2b3; */
              width: 100%;
              /* border: 1px solid #403234; */
              padding: 0px;
              margin: auto;
              overflow: hidden;
            }

        b::after{
          content: " ";display: table;clear: both;
          }
          
      /* .section1{
        margin: 0em;
        padding: 0em;
        background-color: #e7cfe4;
        border: 2px solid #9E7296;
        border-radius: 25px;
      } */
      .section2{
        margin: 4em;
        padding: 4em;
        background-color: #FFCDB2;
        /* border: 2px solid #9E7296; */
        border-radius: 25px;
      }
      .card{
        margin: auto;
        padding: auto;
        border: 1px solid #B5838D;
        /* background-color: #FFB4A2; */
        border-radius: 25px;
        border-style:dashed
      }


main::after{
  content: "";
  clear: both;
  display: table;
}

 .footer{
            /* position: relative;
            top: 60px;
            width: 450px; */
             padding: 20px;
            text-align: center;
            color: whitesmoke;
            background: #6D6875;
}