 /* 座右銘閃爍動畫 */
 #sentence{
	animation: blink 1s infinite;
	font-weight: bold;
	color: gray;
	border: rgba(255, 192, 203, 0.7);
	text-shadow: 6px 6px 5px rgba(192,192,192,0.6);
	font-size: 24px;
}
@keyframes blink{
 0% {opacity: 0}
 50% {opacity: 1}
 100% {opacity: 0}
 } 
 
  /* 聚光燈 */

  h1{    
    font-size: 2rem;    
    color: #333;    
    width: 37.5rem;    
    letter-spacing: 0.3rem;    
    position: relative; 
  } 
    h1::after{      
         content:attr(data-spotlight);    
         position: absolute;    
         top: 0;    left: 0;    
         color: rgb(86, 113, 18);    
         clip-path: ellipse(100px 100px at 0% 50%);    
         animation: move 5s infinite;
         color: transparent;    
         background-image: linear-gradient(to left,#1a2a6c,#b21f1f,#fdbb2d);    
         background-clip: text;     
         -webkit-background-clip: text; 
        } 

         @keyframes move{    
            0%{        clip-path: ellipse(100px 100px at 0% 50%);   }   
            50%{        clip-path: ellipse(100px 100px at 100% 50%);   }   
            100%{        clip-path: ellipse(100px 100px at 0% 50%);   }
            }